<div class="ui inverted cards ui five cards ">
  <div class="card">
    <div class="content">
      <br/>
      <h4 class="ui purple icon header  ui right floated">
        <i class="map marker icon"></i>
      </h4>
      <div class="header">${_station.name}</div>
      <br/>
      <div class="meta">Lat: ${_station.latitude}</div>
      <div class="meta">Lng: ${_station.longitude}</div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <br/>
      <h4 class="ui red icon header  ui right floated">
        <i class="${_station.latestReading.weatherIcon}"></i>
      </h4>
      <div class="header">Weather</div>
      <br/>
      <div class="meta">${_station.latestReading.weatherLabel}</div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <br/>
      <h4 class="ui blue icon header  ui right floated">
        <i class="temperature low icon"></i>
      </h4>
      <div class="header">Temp</div>
      <br/>
      <div class="meta">${_station.latestReading.temperature} C</div>
      <div class="meta">${_station.latestReading.tempFahrenheit} F</div>
      <h6 class="ui blue icon header  ui right floated">
        <i class="${_station.temperatureTrend}"></i>
      </h6>
      <div class="meta">Max: ${_station.maxTemperature} C</div>
      <div class="meta">Min: ${_station.minTemperature} C</div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <br/>
      <h4 class="ui green icon header  ui right floated">
        <i class="wind icon"></i>
      </h4>
      <div class="header">Wind</div>
      <br/>
      <div class="meta">${_station.latestReading.beaufort} bft</div>
      <div class="meta">${_station.latestReading.windCompass}</div>
      <h6 class="ui green icon header  ui right floated">
        <i class="${_station.windSpeedTrend}"></i>
      </h6>
      <div class="meta">Feels like</div>
      <div class="meta">${_station.latestReading.windChill} C</div>
      <div class="meta">Max: ${_station.maxBeaufort}</div>
      <div class="meta">Min: ${_station.minBeaufort}</div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <br/>
      <h4 class="ui orange icon header  ui right floated">
        <i class="tachometer alternate icon"></i>
      </h4>
      <div class="header">Pressure</div>
      <br/>
      <div class="meta">${_station.latestReading.pressure} hPa</div>
      <div class="meta">Max: ${_station.maxPressure}</div>
      <h6 class="ui orange icon header  ui right floated">
        <i class="${_station.pressureTrend}"></i>
      </h6>
      <div class="meta">Min: ${_station.minPressure}</div>
    </div>
  </div>
</div>
