<div class="ui five cards">
  <div class="card">
    <div class="content">
      <br />
      <h4 class="ui purple icon header  ui right floated">
        <i class="map marker icon"></i>
      </h4>
      <div class="header">${_station.name} </div>
      <br />
      <p>Lat: ${_station.latitude}</p>
      <p>Lng: ${_station.longitude}</p>

    </div>
  </div>
  <div class="card">
    <div class="content">
      <br />
      <h4 class="ui red icon header  ui right floated">
        <i class="${_station.latestReading.weatherIcon}"></i>
      </h4>
      <div class="header">Weather</div>
      <br />
      <p>${_station.latestReading.weatherLabel}</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <br />
      <h4 class="ui blue icon header  ui right floated">
        <i class="temperature low icon"></i>
      </h4>
      <div class="header">Temp</div>
      <br />
      <p>${_station.latestReading.temperature} C</p>
      <p>${_station.latestReading.tempFahrenheit} F</p>
      <p>Max: ${_station.maxTemperature} C</p>
      <p>Min: ${_station.minTemperature} C</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <br />
      <h4 class="ui green icon header  ui right floated">
        <i class="wind icon"></i>
      </h4>
      <div class="header">Wind</div>
      <br />
      <p>${_station.latestReading.beaufort} bft</p>
      <p>${_station.latestReading.windCompass}</p>
      <P>Feels like</P>
      <p>${_station.latestReading.windChill} C</p>
      <p>Max: ${_station.maxBeaufort}</p>
      <p>Min: ${_station.minBeaufort}</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <br />
      <h4 class="ui orange icon header  ui right floated">
        <i class="tachometer alternate icon"></i>
      </h4>
      <div class="header">Pressure</div>
      <br />
      <p>${_station.latestReading.pressure} hPa</p>
      <p>Max: ${_station.maxPressure}</p>
      <p>Min: ${_station.minPressure}</p>
    </div>
  </div>
</div>